html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

* {
  box-sizing: inherit;
  line-height: 1.5;
  font-weight: normal;
  font-family: "PT Sans", "PT Serif";
}

h1{
  color: #3f1622;
  font-weight: bold;
}

a {

}
img {
  width: 100%;
}

h1, h2 {
  color: #222;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
}

main figure + p {
  font-weight: bold;
  font-size: 1.125em;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style-type: none;
}

a{
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.em {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  font-size: .8rem;
}

.varieties {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}
